body {
  color: #444;
  font-family: Tahoma;
  display: flex;
  height: 96vh;
}

#app {
  width: 900px;
  margin: auto;
  box-shadow: 4px 4px 20px #888;
  padding: 20px;
  border-radius: 20px;
}

.center {
  text-align: center;
}

.startHidden {
  display: none;
}

h3 {
  margin: 4px;
  font-weight: normal;
}

input {
  width: 80%;
  margin: 4px;
  padding: 4px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  background-color: #4c4;
  font-size: 15px;
  color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

p {
  margin: 0;
}

.alternative {
  background-color: #44c;
}

.danger {
  background-color: #c44;
}

#loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  z-index: 1;
}

#auth img {
  cursor: pointer;
  margin: 4px;
}

#auth img:hover {
  opacity: 0.75;
}

#userImg {
  height: 40px;
  border-radius: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
}

li:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.todoBtn {
  float: right;
  margin: 0 0 0 4px;
  position: relative;
  bottom: 3px;
}

.imgTodo {
  height: 20px;
  margin-right: 4px;
  border-radius: 4px;
}

span {
  position: relative;
  bottom: 3px;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: bold;
  padding-right: 10px;
}

.column1 {
  width: 100%;
  padding-left: 40px;
}

.column2 {
  width: 225px;
  padding-left: 55px;
}

.column3 {
  width: 205px;
}

.column4 {
  width: 195px;
}

.column5 {
  width: 235px;
}

.column6 {
  width: 170px;
}

.column7 {
  width: 330px;
}

.column8 {
  width: 305px;
}

.table100 th {
  padding-top: 21px;
  padding-bottom: 21px;
}

.table100 td {
  padding-top: 16px;
  padding-bottom: 16px;
}
.wrap-table100-nextcols {
  width: 100%;
  overflow: scroll;
  padding-left: 0px;
  padding-bottom: 0px;
}
